<br><br> 
<div class="col-lg-12 stretch-card">
    <div class="card">
    <div class="card-body">
    <h4 class="card-title">PRODUCT DETAILS</h4>
    <p class="card-description">  <code></code>
    </p>
    <form [formGroup]="productgroup">
    <div class="form-group">
    <label for="country">Category</label>
    <select class="form-control form-control-lg" formControlName="categoryid" (change)="onChange()">
    <option value="">..Choose your category...</option>
    <option *ngFor="let data of 
    categorydata" value="{{data.categoryid}}">{{data.categoryname}}</option>
    </select>
    </div>
    <table class="table table-bordered">
    <thead>
    <tr>
    <th> Sl no </th>
    <th> Product </th>
    <th> Price </th>
    <th>  </th>
    <th> Description </th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-info" *ngFor="let data of productdata,let i=index">
    <td> {{i+1}} </td>
    <td> {{data.productname}} </td>
    <td> {{data.price}} </td>
    <td class="text-danger">
        <img style="width: 50px;height: 50px;" src="http://localhost:3000/images/{{data.pimage}}">
    </td>
    <td> {{data.description}} </td>
    <td>
        <!-- <a [routerLink]="['/adminmaster/productedit',data.productid]">
    <button type="button" class="btn btn-success btn-xs"
    >Edit</button></a> -->
    <button type="button" class="btn btn-danger btn-xs"(click)="Deleteproduct(data.productid)">Delete</button>
    </td>
    </tr>
    </tbody>
    </table>
    </form>
    </div>
    </div>
    <!-- </div> -->
    </div>
    <!-- </div> -->
    <!-- content-wrapper ends -->

<router-outlet></router-outlet>