<link href="/assets/guest/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="/assets/guest/css/tiny-slider.css" rel="stylesheet">
<link href="/assets/guest/css/style.css" rel="stylesheet">
<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-6">
				<form [formGroup]='booknowformgroup' enctype="multipart/form-data">
					<div *ngFor="let row of productdata">
						<h1>{{row.productname}}
						</h1>

					</div>


					<h2 class="section-title"></h2>
					<p></p>

					<div class="row my-5">
						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="form-group">
									<label>Select the color</label><br>
									<select class="form-control" formControlName='colorid'>
										<option value="">--Select--</option>
										<option *ngFor="let row of colordetails" [value]="row.colorid">
											{{row.color}}
										</option>
									</select>
									<div *ngIf="booknowformgroup.controls['colorid'].invalid && (booknowformgroup.controls['colorid'].dirty || booknowformgroup.controls['colorid'].touched) || validationstatus ">
										<div *ngIf="booknowformgroup.controls['colorid'].errors['required']" style="color: red;" >Please choose one color.
										</div>
										<!-- <div *ngIf="booknowformgroup.controls['phone'].errors['pattern']" style="color: red;" >Please Check Format of Number
										</div> -->
									</div>
								</div>
								<!-- <div class="icon">
										<img src="/assets/guest/images/truck.svg" alt="Image" class="imf-fluid">
									</div> -->
								<h3></h3>
								<p></p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="field">
									<label class="label_field">Upload design</label><br>
									<input type="file" formControlName="customerdesign"  (change)="selectFile($event)"
										placeholder="Your design" />
										<div *ngIf="booknowformgroup.controls['customerdesign'].invalid && (booknowformgroup.controls['customerdesign'].dirty || booknowformgroup.controls['customerdesign'].touched) || validationstatus ">
											<div *ngIf="booknowformgroup.controls['customerdesign'].errors['required']" style="color: red;" >Please enter your design.
											</div>
											<!-- <div *ngIf="booknowformgroup.controls['phone'].errors['pattern']" style="color: red;" >Please Check Format of Number
											</div> -->
										</div>
										<!-- <script>document.getElementById("file-id").files[0].name; </script> -->
								</div>
								<!-- <div class="icon">
										<img src="/assets/guest/images/bag.svg" alt="Image" class="imf-fluid">
									</div> -->
								<h3></h3>
								<p></p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="form-group">
									<label>Description</label><br>
									<textarea formControlName="customerdesigndescription" class="form-control"
										placeholder="Description" rows="10"></textarea>
										<div *ngIf="booknowformgroup.controls['customerdesigndescription'].invalid && (booknowformgroup.controls['customerdesigndescription'].dirty || booknowformgroup.controls['customerdesigndescription'].touched) || validationstatus ">
											<div *ngIf="booknowformgroup.controls['customerdesigndescription'].errors['required']" style="color: red;" >Please enter your design description.
											</div>
											<!-- <div *ngIf="booknowformgroup.controls['phone'].errors['pattern']" style="color: red;" >Please Check Format of Number
											</div> -->
										</div>
								</div>
								<!-- <div class="icon">
										<img src="/assets/guest/images/support.svg" alt="Image" class="imf-fluid">
									</div> -->
								<h3></h3>
								<p></p>
							</div>
						</div>

						 <!-- <div class="col-6 col-md-6">
							<div class="feature">
								<div class="form-group">

									<label>Quantity</label><br>
									<input type="number" formControlName="totalquantity" value="1" min="1" (change)="onChange($event)" id="totalquantity">
									
										
									<br><br>
									<input type="hidden" formControlName="totalamount">
									<label>Total Amount</label><br><input type="text" formControlName="totalamount" >
									<br>
									<br>
									Price may change according to product customization
								</div>
								
								<h3></h3>
								<p></p>
							</div>
						</div>  -->


						<!-- <div class="col-6 col-md-6">
							<div class="feature">
								<div class="form-group">
									<label>Quantity </label><br>
									<input type="text" formControlName='quantity' class="form-control"
										placeholder="Quantity">

								</div>
							</div>
						</div> -->

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="form-group">
									<label>Delivery address</label><br>
									<textarea formControlName="deliveryaddress" class="form-control"
										placeholder="Delivery address" rows="10"></textarea>
										<div *ngIf="booknowformgroup.controls['deliveryaddress'].invalid && (booknowformgroup.controls['deliveryaddress'].dirty || booknowformgroup.controls['deliveryaddress'].touched) || validationstatus ">
											<div *ngIf="booknowformgroup.controls['deliveryaddress'].errors['required']" style="color: red;" >Please enter your delivery address.
											</div>
											<!-- <div *ngIf="booknowformgroup.controls['phone'].errors['pattern']" style="color: red;" >Please Check Format of Number
											</div> -->
										</div>
								</div>
								<!-- <div class="icon">
										<img src="/assets/guest/images/support.svg" alt="Image" class="imf-fluid">
									</div> -->
								<h3></h3>
								<p></p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="form-group">

									<label> Required date</label><br>
									<input type="date" class="form-control" formControlName='requireddate' />
									<div *ngIf="booknowformgroup.controls['requireddate'].invalid && (booknowformgroup.controls['requireddate'].dirty || booknowformgroup.controls['requireddate'].touched) || validationstatus ">
										<div *ngIf="booknowformgroup.controls['requireddate'].errors['required']" style="color: red;" >Please enter the required date.
										</div>
										<!-- <div *ngIf="booknowformgroup.controls['phone'].errors['pattern']" style="color: red;" >Please Check Format of Number
										</div> -->
									</div>
								</div>
								<!-- <div class="icon">
										<img src="/assets/guest/images/support.svg" alt="Image" class="imf-fluid">
									</div> -->
								<h3></h3>
								<p></p>
							</div>
						</div>

						

						


						<div></div>
						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="form-group" >
									<!-- <a class="product-item" [routerLink]="['/customermaster/quantity']"> -->

										<button type="submit" (click)="OnSubmit()" class="btn btn-danger"
											rounded="true">
											Continue</button>
									<!-- </a> -->
								</div>

								<!-- <div class="icon">
										<img src="/assets/guest/images/return.svg" alt="Image" class="imf-fluid">
									</div> -->
								<h3></h3>
								<p></p>
							</div>
						</div>

					</div>
				</form>
			</div>

			<div class="col-lg-5" *ngFor="let data of productdata">
				<div class="img-wrap">
					<br><br><br><br>
					<img src="http://localhost:3000/images/{{data.pimage}}" style="height: 250px;" alt="Image"
						class="img-fluid">
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Why Choose Us Section -->