

<div class="container">
    <div class="row">
        <div class="col-md-6"  style="padding-left:252px ; margin-top:100px;">
           
            <h3 style =" text-align: center;">CATEGORY EDIT  </h3><br><br>
            <form [formGroup]='CategoryFormGroup' enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Category name</label>
                        <input type="text" formControlName='categoryname'  class="form-control" >
                        <!-- <div *ngIf="CategoryFormGroup.controls['categoryname'].invalid && (CategoryFormGroup.controls['categoryname'].dirty || CategoryFormGroup.controls['categoryname'].touched) || validationstatus ">
                            <div *ngIf="CategoryFormGroup.controls['categoryname'].errors['required']" style="color: red;" >Please enter category name
                            </div>
                            <div *ngIf="CategoryFormGroup.controls['categoryname'].errors['pattern']" style="color: red;" >First letter must be capital and numbers not allowed
                            </div>
                        </div> -->
                    </div>
                   
                    
                    <div class="field">
                        <label class="label_field">Image</label><br>
                        <input type="file"
                        formControlName="image" (change)="selectFile($event)">
                        <!-- <div *ngIf="CategoryFormGroup.controls['image'].invalid && (CategoryFormGroup.controls['image'].dirty || CategoryFormGroup.controls['image'].touched) || validationstatus ">
                            <div *ngIf="CategoryFormGroup.controls['image'].errors['required']" style="color: red;" >Please choose one image
                            </div> -->
                            <!-- <div *ngIf="CategoryFormGroup.controls['phone'].errors['pattern']" style="color: red;" >Please Check Format of Number
                            </div> -->
                        <!-- </div> -->
                        </div>
                   <div>
                    <br>
                    <button type="submit" (click)="onsubmit()"   class="btn btn-danger" rounded="true">Save</button>
                   </div>
                    <br>
                    
            </form>
        </div>
    </div>
</div>